[2017-06-19 21:15] Br3nda opened #20 "Investigate if the aws sdk gem is needed"
can this be removed from the bundle?

[2017-06-27 22:46] #20 closed, assigned to Br3nda

[2018-08-21 04:52] Br3nda opened #257 "Admin interface is broken"
Error introduced today in 34412338

[code]

Needs fixing, but also probably should have feature tests so this doesn't happen again.

[2018-08-22 01:10] #257 closed, assigned to ghostPepperWonton

[2018-08-23 03:18] Br3nda opened #271 "discussion on undoing the erb -> haml conversions."
Rather than undo all the work last year converting that templates to haml - can we have a proposal and discussion about why we'd revert back to ERB now?

[2018-08-31 00:03] Br3nda commented on #271
discussion on slack, gonna keep the haml for now

[2018-08-31 00:03] #271 closed, assigned to nobody

[2018-10-01 23:18] louise-r-blue opened #378 "NZSL- 20. Bug on live, staging and dev. An error occurs when clicking the video play/pause button. Displays an error in Safari"
Clicking the pause/play button on Demonstration video on the https://nzsl-staging.herokuapp.com/alphabet/ causes an error.
May be a Safari specific bug.
One screenshot shows the web inspector out-put.
The link wrapped around the video has a href of "alphabet-wide" when it should be "#alphabet-wide".
The link wrapped around the video has a href of "alphabet-over-shoulder" when it should be "#alphab

[2018-10-01 23:44] louise-r-blue opened #379 "NZSL - 37. There is intermittent behaviour in Firefox when a user navigates from the search results page when clicking the learn more link."
The intermittent behaviour.

- If the user is on a search page result and clicks a learn more button the user is then navigated to `/signs/####`
- In Firefox the users vocab sheet flashes and then disappears. In the following first screenshot the users vocab sheet should display as a side bar on the right side as in the example 2nd screen shot.

![firefox](https://user-images.githubusercontent.com

[2018-10-02 00:56] louise-r-blue opened #380 "NZSL - 27 Vocab sidebar doesn't update correctly when some signs are added directly from the search results and others from the sign page"
This story relates to the *browser* back button and a potential over ride of its default behaviour from the signs show page. Currently when a user clicks their default browser button to navigate back to their previously viewed page any glosses the user added to a their vocab sheet does not display. This leads the user to think that they have lost any additions to their vocab sheet that they made.

[2018-10-02 03:06] louise-r-blue opened #381 "NZSL - 24 Differentiation between Maori and English glosses in mobile"
On Desktop browsers there is differentiation between Māori and English glosses in that the Māori gloss text is italicised as in the screenshot below. The same behaviour is desired in mobile view.

![english_and _maori_glosses](https://user-images.githubusercontent.com/15900463/46327209-f2f16f80-c65c-11e8-8def-f79f04b5283e.png)

[2018-10-02 08:09] louise-r-blue opened #382 "NZSL - 31. JavaScript Unit Testing"
Which frontend testing framework - Jest?

[2018-10-02 08:14] louise-r-blue opened #383 "NZSL - 28. Gracefully handling Freelex issues"
This issue requires an implementation to

- Handle timeout/disconnect and
- Display a custom site error rather than a Heroku server error

[2018-10-02 08:22] louise-r-blue opened #384 "NZSL - 23 CodeClimate cleanup"
Ideally, this would sweep the entire application and clean up all issues that CodeClimate has been bringing up.

More immediately, the work done on NZSL‌-14 brought out a lot of issues that went unaddressed for the sake of the sprint.

- CSS class names need to be converted to BEM style: `block-name__element-name--modifier-name`

- Places where css properties are overridden should be better arrang

[2018-10-02 08:28] louise-r-blue opened #385 "NZSL -42. P2 - As a user, I can save multiple vocabulary sheets / sign collections in an editable format"
Will probably need user profiles + interface for managing vocab sheets so requires design.

[2018-10-02 08:32] louise-r-blue opened #386 "NZSL - 43. As a user I am able to save previous searches so..."
As a user I am able to save previous searches so that I can see what I have searched for previously.

- Does not include “other users searched for” functionality.
- Could include highlighting search results during search term entering.
- Could include Home page “welcome back you previously searched for” implementation.
- Could include “clear history” button.
- Design mockups required.

[2018-10-02 22:59] louise-r-blue opened #387 "NZSL - 45. Able to select mp4 or webm video and display the highest quality where possible"
This issue needs input from Dave on the Freelex database side before it can be completed but is considered high priority

Differentiation prep has already been done on mobile.

Stopgap measure for now is to upload all videos as Mp4 and display all of them by default.

[2018-10-02 23:07] louise-r-blue opened #388 "NZSL-39. When the user selects advanced search options, they should see a prompt to click the search button."
When the user selects advanced search options, they should see a prompt to click the search button. Currently it is a little unclear to users that they can select a drawing from the drop down pane and then click the search icon in the upper right.

This story/issue requires design work.

![advanced_search_options](https://user-images.githubusercontent.com/15900463/46381866-9f3a6100-c704-11e8-9949-

[2018-10-02 23:18] louise-r-blue opened #389 "NZSL-40. When a user views search results and a sign is an exact match for what the user searched for, make it visually different to the other results."
When a user views search results and a sign is an exact match for what the user searched for, make it visually different to the other results.

- Design required
- Should it be just the first exact match (chosen by the NZSL team as the ‘recommended match') or should all exact matches look different from non exact matches.

- Example search term ‘Auckland’ as shown in screenshot displays 6 results.

[2018-10-03 02:08] DSRU commented on #381
Working on Android

[2018-10-03 07:10] Br3nda commented on #384
Link to codeclimate issues: https://codeclimate.com/github/ODNZSL/nzsl-online

[2018-10-29 23:00] DSRU opened #426 "NZSL-46. Add spam filter to Contact Us form"

[2018-11-05 21:28] Br3nda commented on #385
Is the idea that we can have users sign up with an email/password ?

[2018-11-05 23:53] louise-r-blue commented on #385
Currently I am not really sure how it is going to work but yes I think if users are to be to able to save multiple collections that the application must store then we may need a way of identifying them, OR there is HTML5 indexedDB which would save to users own browser.

[2018-11-30 00:59] DSRU commented on #387
Update 30 Nov 2018: mp4 videos have been uploaded and are currently displayed.

[2018-12-02 09:48] Br3nda commented on #387
Related: #106

[2018-12-05 02:11] DSRU commented on #381
This issue probably relates to the mobile apps rather than the mobile view of the website.  Are we maintaining a separate issue list for nzsl-dictionary-android and nzsl-dictionary-ios?

[2018-12-17 04:02] DSRU opened #466 "Add cookies notice / link to privacy statement / opt-out of web analytics cookies"
The App Store now requires a privacy statement before apps can be approved. We have created a privacy statement that also includes our interactions with users of  the Android app, the website and our social media pages / feeds. A pop-up notification about the use of tracking cookies on the website is needed, ideally with an opt-out option: https://tools.google.com/dlpage/gaoptout or a link to our

[2018-12-24 20:02] eoinkelly commented on #383
I think this is fixed by #483

[2018-12-29 02:28] binarykitchen opened #486 "Site is down :)"
Hello guys, since everyone is on holiday and have nowhere else I can report and expect to get this fixed asap, I'll try it here (and am a Deaf programmer btw)

So yeah the site is having problems. Can't open start page and there are errors when running searches.

Known issue?

[2018-12-29 03:00] Br3nda commented on #486
Hello and welcome Michael.

Ive had a quick test and it's all working for me. Can you give us some more info to work with?

What errors do you get when you run search? What were you searching for?

And by "start page" do you mean https://www.nzsl.nz?  You mentioned you can't open it, what happens when you try?

[2018-12-29 03:01] binarykitchen commented on #486
It's https://nzsl.vuw.ac.nz/

[2018-12-29 03:02] binarykitchen commented on #486
![screen shot 2018-12-29 at 16 02 12](https://user-images.githubusercontent.com/177641/50532777-1f952480-0b83-11e9-97c0-5c74691d77b8.png)

[2018-12-29 03:04] binarykitchen commented on #486
And suddenly it works now. Did you fix anything just now?

[2018-12-29 04:01] Br3nda commented on #486
I'm not sure why the old vuw one is running again. It used to be a redirect to the new website.

[2018-12-30 03:46] binarykitchen opened #488 "API documentation"
maybe you have noticed an unusual high number of traffic right now? this because i'm writing a tool to automatically grab videos by crawling search results over html ... which is not very ideal for both of us.

so yeah, wondering if you have an API and it's documented? for example a GET query to get me the link to a video by any given search term.

thanks :)

[2018-12-30 04:18] eoinkelly commented on #486
I had to look this up but both

* https://nzsl.vuw.ac.nz
* https://www.nzsl.nz

are valid URLs for the app (the Heroku app lists both of them on the settings page).

Looking at the exception monitoring, it seems like there were a bunch of `Message: Failed to open TCP connection to nzsl-assets.vuw.ac.nz:80 (Connection refused - connect(2) for "nzsl-assets.vuw.ac.nz" port 80)
` errors for approx 4-6

[2018-12-30 04:20] eoinkelly opened #489 "Handle the situation where we cannot reach the assets server more gracefully."
Currently Rails returns 500's if we fail to access the assets server. We should handle this more gracefully and show an informative error to the user.

[2018-12-30 04:21] eoinkelly commented on #486
I'm going to close this now because Issue #489 has the actionable stuff.

[2018-12-30 04:21] #486 closed, assigned to nobody

[2018-12-30 04:27] #383 closed, assigned to nobody

[2018-12-30 04:41] eoinkelly opened #490 "Limiting of autocomplete search results not working"
From my testing it looks like the autocomplete search at `http://nzsl-assets.vuw.ac.nz/dnzsl/ncbin/public_search_lookup` ignores the `limit=10` param we send e.g. this is what I get when the search term is `hea`

[code]

This can be replicated by

[code]

Are there any docs/code I can look at to see what the deal is there? Are we passing the limit param incorrectly? Does this endpoint actually sup

[2018-12-30 05:20] Br3nda opened #494 "point nzsl.nz at the website also"
currently only www.nzsl.nz will reach the dictionary website

it would be nice to have https://nzsl.nz too.

[2018-12-30 05:42] eoinkelly commented on #494
I agree. We would need to move the name servers from Iwantmyname - they don't support ALIAS records (https://help.iwantmyname.com/customer/portal/articles/1599947-do-you-support-alias-or-aname-dns-records- ) 😢 . I'm about to write up an issue suggesting we setup Cloudflare as a CDN - if we did that then Cloudflare would have the nameservers and we could make this change too.

[2018-12-30 06:00] eoinkelly opened #495 "Use Cloudflare as a CDN"
I think there would be a lot of benefit of using a CDN (Content Delivery Network) like Cloudflare for this site.  The benefits I see are

1. Cloudflare has edge locations much closer to NZ than the Heroku servers. Users of the site should notice a **significant** increase in page load speed.
1. Greatly reduced load on the rails app. Currently the rails app serves dynamic page content and all the s

[2018-12-30 06:07] eoinkelly commented on #489
I think this issue is resolved by the changes I made recently - see https://github.com/ODNZSL/nzsl-online/blob/staging/app/models/sign.rb#L80-L111 We should now recover from any `Faraday::Error` by sending a message to Raygun and returning empty results to the client.

I'm going to close this for now but we can re-open later if need be.

[2018-12-30 06:07] #489 closed, assigned to nobody

[2018-12-30 06:13] Br3nda commented on #495
I love this idea and it is worth testing

[2018-12-30 06:25] Br3nda commented on #494
They do support CNAME, which should be enough for now

[2018-12-30 06:36] eoinkelly commented on #494
CNAME doesn't work for the root domain i.e. the domain without any subdomain prefix - there is some background in https://help.iwantmyname.com/customer/portal/articles/1599947-do-you-support-alias-or-aname-dns-records-

[2018-12-30 06:45] Br3nda commented on #488
that might be some of the cause of #486 yesterday?
Can you go easy on it. We rely a lot on free hosting at the university.

[2018-12-30 07:47] binarykitchen commented on #488
sure, don't want to cause any troubles.

and with unusual high traffic i rather meant lots of requests from a single IP address, above average. something like 10 GET requests per minute for one hour long. any good server should be able to cope with that little stress i think. if not, then this will happen sooner or later anyway. and honestly i think #486 might have a different cause because at tha

[2019-01-01 17:13] dependabot-preview[bot] opened #499 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-01 19:50] #499 closed, assigned to nobody

[2019-01-01 19:58] Br3nda commented on #499
Lol. Morning. It's not morning everywhere my friend. :)

Happy new year.

[2019-01-14 00:45] Br3nda commented on #381
Agreed. It's italicised correctly. Let's close this.

[2019-01-14 00:50] DSRU commented on #494
http://nzsl.nz gets redirected to https://www.nzsl.nz at the moment, but https://nzsl.nz doesn't.

[2019-01-14 00:51] DSRU commented on #381
Agreed.

[2019-01-14 00:51] #381 closed, assigned to nobody

[2019-01-14 02:20] DSRU commented on #466
Privacy notice now on https://www.nzsl.nz/help/ . We still need a pop-up  notification about tracking cookies.

[2019-01-14 07:00] Br3nda commented on #488
I agree we could/should document the api publicly.

[2019-01-14 21:48] DSRU commented on #488
I have discussed this with Dave Moskovitz who is responsible for the API. While there is some existing API documentation, this needs to be tidied up before it's released publicly. We also need to ensure that the API would not be at risk of overloading from lots of simultaneous requests / denial-of-service attacks. We are also testing to make sure that the API only gives access to data that we're h

[2019-01-14 22:32] Br3nda commented on #488
We could serve the API on the rails app instead. It would be a subset of the freelex functionality, but it's very easy to spin up a modern json api on some of the data, and i can use some automated tools to document it so we're not manually maintaining the documentation.

[2019-01-16 20:20] DSRU commented on #488
@Br3nda what are the rate-limiting features on Heroku? I'd really like to have something in place to prevent denial of service attacks before the API is shared more publicly. But serving the API on the rails app would be good.

[2019-01-19 08:50] eoinkelly commented on #384
I collected some stats

[code]

[2019-01-19 21:17] eoinkelly commented on #490
Update: We have been in touch with the maintainer of Freelex. They are fixing this issue and will let us know when it hits production.

[2019-01-20 02:00] eoinkelly commented on #384
Codeclimate issues update:

* Total issues: 512

made up of

* Ruby issues: 14
* JS issues: 109
* SCSS issues: 389

[2019-01-20 22:49] eoinkelly commented on #382
I think unit testing the existing JS would pretty much require a re-write of it. I think we should focus testing efforts on end-to-end testing (Capybara wrapping Selenium) and not worry about unit testing the JS for the forseeable future.

[2019-01-24 22:40] DSRU commented on #490
@eoinkelly on staging it does look like the autocomplete results are now limited to 10. Is it necessary to limit the results though? It is quite useful to show all possible results to encourage 'browsing' behaviour. If a limit is desirable, then could the top 10 autocomplete options be ordered in alphabetical order rather than by length?

[2019-01-25 05:35] eoinkelly commented on #490
I don't have strong opinion about the limiting. I implemented the limiting in the controller because we were passing `limit=10` to Freelex so I assumed limiting to 10 was desired behaviour.

[2019-01-26 03:37] Br3nda commented on #490
How about we set the limit to a much larger number?
IIRC we put it in config, so we can just change the ENV on heroku

[2019-01-27 20:35] DSRU commented on #490
Was the limit put into place because the autocomplete was slowing down returning search results? If there are no efficiency gains then I'd suggest having a larger limit (or no limit).

[2019-02-18 01:43] eoinkelly commented on #495
As of this morning we are using Cloudflare as CDN - pages load quite a bit faster for me 👍 .

[2019-02-18 01:43] #495 closed, assigned to nobody

[2019-02-18 01:44] eoinkelly commented on #494
This works now :tada:

[2019-02-18 01:44] #494 closed, assigned to nobody

[2019-02-18 01:47] eoinkelly commented on #490
I think we probably still want a limit because

The popup might obscure a lot of the page on small screens if there is no limit - I don't know if this is a think we should care about or not. The limit isn't in config but it is a fairly trivial code change. I'm happy to implement the change. @DSRU do you want to make a call on this?

[2019-02-18 01:48] eoinkelly commented on #382
@Br3nda What's your take on this? I think we can probably close it but happy to go along with your call.

[2019-02-18 01:50] eoinkelly commented on #384
Codeclimate has 146 issues total now https://codeclimate.com/github/ODNZSL/nzsl-online/issues

[2019-02-18 01:54] eoinkelly commented on #488
There is no rate limiting in place currently @DSRU. Sadly, Heroku doesn't do any magic for us in this respect either. I'm not sure there is any action we can take here except take on board that having an API is a requested feature. Given that this issue isn't actionable as is, I would like to close it. What say you @Br3nda @DSRU .

[2019-02-18 03:00] DSRU commented on #490
@eoinkelly it only obscures the page until 'search' is pressed. While using the search box, people don't need to see the content behind it. Are there any other reasons for imposing a limit?
If there are, then see my suggestion above: order the top 10 autocomplete options in alphabetical order rather than by word length.

[2019-02-18 03:02] DSRU commented on #488
@eoinkelly can we put this in the icebox rather than closing altogether?

[2019-02-18 03:43] eoinkelly commented on #387
@DSRU Can I clarify where we are with this?

## Checking my assumptions

My understanding is that we currently have two sources of video:

1. S3 bucket which contains a small number of help content videos. These are available in both `mp4` and `webm`
2. Videos hosted on http://nzsl-assets.vuw.ac.nz/dnzsl/freelex/assets/ - From my random tests, these seem to only be available in `mp4` format e.g. h

[2019-02-18 03:50] DSRU commented on #387
@eoinkelly any signs with numbers higher than 6581 were given to us in webm format by the people who filmed our new entries. We became aware that they would not display on certain browsers, and so we have converted them back to mp4. For the moment, all assets therefore have mp4 videos but the later assets (above 6581) also have webm videos stored.
The intention was not to have a complete set of mp

[2019-02-18 03:59] eoinkelly commented on #387
So any sign with a number higher than 6581 definitely has both formats?

If so, this story is now:

Generate `<video>` tag with both `webm` and `mp4` sources if the sign number is 6581 or greater. Sign numbers less than 6581 should not generate a `webm` source.

[2019-02-19 03:20] DSRU commented on #387
@eoinkelly almost definitely - there may be a few entries that are clones from earlier entries, and that therefore may not have webm videos.
The situation could arise where we replace lower entry number videos with webm when they are refilmed for correction.
Can you check how this was implemented to differentiate between screen quality and high resolution images in the assets? I think it was done

[2019-02-19 18:52] Br3nda commented on #382
I think we should rewrite the jquery. I'm not sure if we go with pulling in reactjs, or if we only really need the js that comes with bootstrap/foundation/whatever. It feels like we only do tiny display tweaks, and that vocab card functionality.

[2019-02-21 08:19] Br3nda commented on #384
Nice work

[2019-02-25 06:26] eoinkelly opened #576 "Make the numbers page a static page"
https://www.nzsl.nz/numbers currently pulls data from Freelex but the data never changes. @DSRU suggested we make this a static page and that seems sensible.

[2019-02-26 00:43] eoinkelly commented on #490
We still have this because we are waiting on a promised change to Freelex. Given the recent changes to autocomplete I'm not sure we care anymore. I would be happy to close this. What do you think @DSRU @Br3nda ?

[2019-02-26 04:25] Br3nda commented on #490
I support closing this for now.

[2019-02-26 21:51] DSRU commented on #576
I have put all the necessary drawings for this page on Google Drive: https://drive.google.com/drive/folders/1cndFT0rP37ODOyqiRIvi97wp2144EdqP?usp=sharing

[2019-02-26 22:58] DSRU commented on #490
Yes, let's close it for now.

[2019-02-26 23:01] #490 closed, assigned to nobody

[2019-03-02 02:00] eoinkelly opened #585 "Document what browsers we want to support in README"
We haven't documented which browsers & browser versions we want to support in 2019. Knowing this will let anybody working on CSS or JS know what their constraints are.

Can we say say that we only care about supporting the last 2 major versions of each of the major browsers (MS Edge, Safari, Firefox, Chrome) or do we still need to support old IE?

Supporting old browsers (especially IE 11 and olde

[2019-03-04 20:28] Br3nda commented on #585
New relic may have browser info too

[2019-03-05 20:30] DSRU commented on #585
Due to the demographics of our dictionary users, we know that there are quite a few of our core audience who will only have access to older technology so we would like to support as many legacy browsers as we can. Having said that, the vast majority of users use Chrome (58%) or Safari (18%). Approximately 10% use IE, and of those, the most used versions are IE9 and IE11. In total there have been a

[2019-03-26 02:54] Br3nda commented on #466
There's a whole GDPR gem that can do this and more
https://github.com/prey/gdpr_rails

[2019-03-26 03:01] elspeth-rabid commented on #378
@Br3nda hey! Sorry I saw your comment too late, I should have refreshed the page before merging!
This is still an issue but I can see if anyone can look at it right away...

[2019-03-26 06:25] Br3nda commented on #378
i was being hopeful. I don't have access to safari, so i can't test this one.

[2019-05-14 19:22] Br3nda opened #645 "Errors when fetching random signs, frequently happens during test runs."
Errors when fetching random signs, frequently happens during test runs.

[code]

We should probably mock the test, so i doesn't hit freelex.

But also would be nice to know what about the response is causing errors.

[2019-06-04 06:37] eoinkelly opened #661 "PDF download endpoint should generate appropriate caching headers."
PDF downloads of vocab sheets are always served from the URL `https://www.nzsl.nz/vocab_sheet.pdf?print=true` and do not have any HTTP headers instructing CDNs not to cache the PDF. The app should  serve PDFs in a CDN friendly way.

We are currently working around this via a Cloudflare Page Rule which disables caching of these PDFs but patching the app to generate appropriate caching headers is a

[2019-07-15 20:50] eoinkelly opened #698 "Store vocab sheet items inline in vocab_sheets table to stay within heroku DB plan row limits"
Currently `VocabSheet` has many `Item` and during busy times the number of items stored can take us up to and over the 10k DB rows limit on our Heroku DB plan. Using a different plan isn't within the budget in the medium term so we should change items to be stored inline (possibly as a jsonb) in the VocabSheet model.

[2019-07-15 20:50] eoinkelly commented on #698
I can't remember exactly who proposed this initially (maybe @Br3nda or @elspeth-rabid ?) but it's a good workaround for budget constraints.

[2019-07-15 20:51] eoinkelly commented on #698
I'm working on a PR for this btw, should be ready for review sometime this week.

[2019-07-15 22:03] Br3nda commented on #698
Another approach could be adding a free tier no-sql database for storing these. Something like Cassandra or couchdb or elastic (or ... some disk backed memcache like thing).

[2019-07-25 07:09] #698 closed, assigned to nobody

[2019-08-02 03:00] Br3nda opened #718 "Images broken on pdf view of vocab sheet"
From @DSRU

[2019-08-02 03:51] Br3nda commented on #718
![62330665-73972b80-b50d-11e9-9e19-ed2653f0fcb7](https://user-images.githubusercontent.com/12266/62343053-9553db00-b52c-11e9-83ae-3cc0af5e5c74.png)

[2019-08-09 19:44] eoinkelly commented on #718
@DSRU I can't seem to replicate this on staging or production. Can you give me any more details?

BTW staging is slow because it doesn't use the CDN.

[2019-08-09 21:14] eoinkelly commented on #718
Nevermind, I have replicated on staging now (sorry I missed it previously). Production seems fine. I will look into this.

[2019-08-09 22:48] eoinkelly commented on #718
I think this is a timing issue. To understand it, we need a little context on how we generate PDFs. We generate PDFs in the following way:

1. Rails renders the "print" version of the vocab sheet page as a string
1. Save that string to a file on disk
1. Load the HTML file from disk into an instance of the Google Chrome browser which is installed on the server.
1. The "Server installed Google Chrom

[2019-08-17 22:15] eoinkelly commented on #718
PR #726 hasn't fixed this. More investigation required.

[2019-08-17 23:50] Br3nda commented on #718
If there's no db schema change, you can temporarily deploy another git branch to staging, to make debug easier.

[2019-08-18 03:48] eoinkelly commented on #645
I can't be certain but I suspect that the change to how Rails cache is setup I made in PR #732 may fix this.

[2019-08-29 19:16] eoinkelly opened #748 "Upgrade to Rails 6"
I have started a branch for this https://github.com/ODNZSL/nzsl-online/compare/ops/upgrade-rails-6?expand=1

This is currently blocked waiting on https://github.com/tsechingho/ckeditor-rails/pull/89 to land in the `ckeditor_rails` gem.

[2019-08-29 19:18] eoinkelly commented on #718
Fixed by https://github.com/ODNZSL/nzsl-online/commit/1b262ae8c2001a31d995092c3623acb229dfde96

[2019-08-29 19:18] #718 closed, assigned to nobody

[2019-08-29 19:25] eoinkelly commented on #661
Fixed by PR #725

https://support.cloudflare.com/hc/en-us/articles/202775670-How-Do-I-Tell-Cloudflare-What-to-Cache- says:

Below is an example of the response headers when downloading a PDF now:
[code]

Rails sets `cache-control: private` on the PDF which means Cloudflare will not cache it.

[2019-08-29 19:25] #661 closed, assigned to nobody

[2019-08-29 19:27] eoinkelly commented on #645
I'm pretty confident this won't happen anymore. We now JSON encode signs before putting them in the cache rather than relying on Ruby to `Marshal.dump` them.

[2019-09-30 06:29] eoinkelly commented on #645
Going to close this because it hasn't happened in ages and I'm 99% sure I fixed it. We can re-open if it happens again

[2019-09-30 06:29] #645 closed, assigned to nobody

[2019-09-30 06:31] eoinkelly opened #775 "Topic searches are not paginating properly"
Only the first page of each topic is showing e.g. https://www.nzsl.nz/signs/search?tag=5

[2019-09-30 06:31] eoinkelly commented on #775
I'm looking into this now. So far, I think the issue is on our end not Freelex.

[2019-09-30 18:45] CanadaHonk commented on #488
Is there an API? I'm interested in using this in a project I'm working on, and using an API would definitely be better than parsing HTML. Thanks.

[2019-09-30 21:44] #775 closed, assigned to eoinkelly

[2019-09-30 22:59] DSRU commented on #488
@Oj18 see discussion above. We have logged the request for an API but at the moment have no resources available to pursue this.

[2020-01-05 08:35] Br3nda commented on #378
note for testers, the production url is https://www.nzsl.nz/alphabet/

[2020-01-05 08:59] #378 closed, assigned to nobody

[2020-01-06 22:19] kayakr commented on #378
I visited https://www.nzsl.nz/alphabet/ with Safari, but when I click on the video play icon I get the error reported above, e.g. browser goes to https://www.nzsl.nz/alphabet/alphabet-wide and returns 404. In Chrome, the video plays ok.

[2020-01-07 01:10] Br3nda commented on #378
Thanks @kayakr. The fix will go live when #855 is merged

[2020-01-07 09:51] Br3nda commented on #748
ckeditor has updated. Unblocked

[2020-01-07 23:01] Br3nda opened #864 "New relic yes or no?"
New relic gem is added, but there's not new relic resource on heroku (staging or prod)
do we want to use new relic stats?

[2020-04-26 10:32] eoinkelly opened #978 "Sanitize search queries sent to Freelex"
I believe that

so we can do some filtering to help reduce the volume of malicious requests that get to Freelex.

[2020-04-26 22:37] #576 closed, assigned to nobody

[2020-04-26 22:44] eoinkelly commented on #864
IIRC the gem is sending data to a New Relic which was created outside of Heroku. I can send you creds via email (or we could re-create a new NR account as Heroku addon which would probably be simpler in the long run).

NR was really handy to help figure out where our perf bottlenecks were. We haven't made much progress on that recently because we were waiting for some change to how assets are host

[2020-04-26 22:57] eoinkelly commented on #864
I have just created Heroku addons for staging and production and configured the app to use those.

[2020-04-26 23:24] eoinkelly commented on #864
PR #980 implements the env var toggling.

[2020-04-28 02:08] #864 closed, assigned to nobody

[2020-05-03 01:18] #978 closed, assigned to eoinkelly

[2020-05-03 01:27] eoinkelly commented on #585
Related to this, the lib we are using to do browser detection is deprecating the way we have been doing it - see https://github.com/fnando/browser/issues/435

I'm going to look into alternatives.

[2020-05-03 02:13] eoinkelly commented on #585
I did some testing as part of PR #983 and FYI we currently support IE 10 but not IE 9 (my changes in PR #983 do not change that).

[2020-05-23 05:12] eoinkelly opened #1004 "Refactor SearchHelper"
`SearchHelper` makes extensive use of instance variables. This is a bit messy and Rubocp doesn't like it so it would be great to refactor these helpers to not depend on instance variables by turning them into pure functions which are passed all the args they need and don't mutate any of their args (i.e. they return copies).

### List of disabled cops in app/helpers/search_helper.rb

[code]

[2020-05-26 23:41] #585 closed, assigned to nobody

[2020-05-26 23:41] eoinkelly commented on #748
See PR #1005

[2020-05-26 23:41] #748 closed, assigned to nobody

[2020-06-18 00:58] Br3nda opened #1038 "rename master branch to mainline"
removing master/slave terminology from our tech

[2020-06-18 00:59] Br3nda commented on #1038
Same for other repos under ODNZSL

[2020-06-19 00:03] eoinkelly commented on #1038
Hearty :thumbsup:. Ackama is doing this across all our new projects - it seems like `main` is going to be the new default for Github and Gitlab (see https://gitlab.com/gitlab-org/gitlab/-/issues/221164) so we should probably use that here too.

[2020-06-19 00:04] eoinkelly commented on #1038
I'll hopefully have time to do it this weekend

[2020-06-20 01:19] eoinkelly commented on #1038
This has been completed for all ODNZSL repos. Please update your local remotes accordingly @Br3nda (and maybe @joshmcarthur )

[2020-06-20 01:19] #1038 closed, assigned to eoinkelly

[2020-06-23 22:50] DSRU commented on #1038
The README.txt under CONTRIBUTIONS still has a few references to 'Master'. Do those need to be updated accordingly?

[2020-06-26 20:00] eoinkelly opened #1057 "Remove "Always be Closing" integration"
Github now has this feature built-in and ABC is shutting down ( https://www.thoughtdealership.com/post/always-be-closing/ )

[2020-06-26 20:00] eoinkelly commented on #1057
I have removed this now.

[2020-06-26 20:00] #1057 closed, assigned to nobody

[2020-06-26 20:06] eoinkelly opened #1058 "Remove LGTM Integration once Github integrates their features"
[Github bought LGTM](https://blog.semmle.com/secure-software-github-semmle/) and will presumably roll their features into the main product (presumably as [part of this](https://github.blog/changelog/2020-05-06-github-advanced-security-code-scanning-now-available-in-limited-public-beta/#:~:text=Code%20scanning%20is%20a%20developer,them%20in%20the%20developer%20workflow.)

I have signed us up for th

[2020-08-10 02:09] Br3nda opened #1108 "percy error on changed video load indicator"
the video player within chrome and firefox show a video loading progress meter.

As of about 6 months ago, the videos are showing on the screen in the Percy tests as being partially loaded - it's a different amount of loaded every time the tests running, causing Percy to mark the pr as having a visual change that needs approval.

The easier solution is to mark the area as not visible using percy-c

[2020-09-11 02:37] Br3nda commented on #1108
I've disabled percy until this is fixed

[2020-09-11 04:32] Br3nda opened #1135 "Production deploy failing - slug too big"
[code]

[2020-09-11 05:42] Br3nda commented on #1135
I'm gonna try and slim down the slug

[2020-09-11 20:55] Br3nda commented on #1135
production deploy via travis is failing with a slug over the hard limit of 500MB on heroku. we need to get it under 300MB soft limit.
Currently running a staging build that has been promoted to production - so we have a smaller slug.

Is there some "writing into the slug" going on? Like some caching or something in the file system?

[2020-09-11 20:58] Br3nda commented on #1135
[code]

[2020-09-11 20:59] Br3nda commented on #1135
[code]

[2020-09-11 21:02] Br3nda commented on #1135
i can see c1e069933f684148b7445b93b75a2643d40bbc23 is where we added puppeteer.
@danmorrisonNZ i that means to be a production dependency? It's 364M, and our limit for the whole app on heroku is 500M (recommended 300M)

[2020-09-11 21:22] Br3nda commented on #1135
the promoted slug, from staging to prod, will have bits missing -- i've found the bits. It's the pdf generation. puppeteer brings in a headless chrome to do it -- and chrome has gotten bigger over time.
right now it's failing becuase it can't find chrome.
[code]

[2020-09-11 21:24] Br3nda commented on #1135
I rolled back recent puppeteer upgrades - and that doesn't help. it still brings in the current security patched/stable chrome -- and that's too big for us.

I'm gonna leave it with for now.

Someone will need to find a way to generated pdfs without all of chrome (i like wicked pdf gem) -- or something else clever.

[2020-09-11 21:29] Br3nda commented on #1135
some last bit of info - the `vendor` folder is mostly ruby (284 out of 366M)

and heroku counts the compressed size - so you'll see it adds up to over 500M while running, but needs to gzip to less than 500M (preferrably under 300M)

[2020-09-11 21:37] Br3nda commented on #1135
also there's some writing to local file system still here that we should remove and put into a service like redis.

[code]

[2020-09-12 05:44] eoinkelly commented on #1135
Wkhtmlpdf uses a super old version of WebKit which means it'll fail to render any reasonably modern CSS. I'm really not sure what to do here, will do some research.

[2020-09-13 20:42] eoinkelly commented on #1135
@Br3nda AFAIK this app doesn't use active_storage at all (active_storage is fairly recent in Rails world) so, while we should adjust that setting to silence the warning, active_storage is not really writing to local disk in prod

[2020-09-13 20:44] eoinkelly commented on #1135
Seems this is caused by a bug in puppeteer 1.18.0 https://github.com/puppeteer/puppeteer/issues/4610 - fixed in 1.18.1 apparently. I'll do the upgrade and see what happens

[2020-09-13 20:57] eoinkelly commented on #1135
Hmmm https://github.com/puppeteer/puppeteer/issues/4610 refers to an older version of Puppeteer (current version is 5.3.0) so there is no Puppeteer upgrade to fix this 😞 .

[2020-09-13 20:59] eoinkelly commented on #1135
I had a look at the vendored ruby gems:

[code]

We could get rid of skylight pretty easily but 10M won't fix this for us.

[code]
are pretty tied into Rails so removing them seems disruptive. I think we'll have to look at replacing/moving puppeteer somehow.

[2020-09-13 21:27] eoinkelly commented on #1135
I installed [heroku:repo](https://github.com/heroku/heroku-repo) and ran the following to try and reduce slug size:

[code]

I also added the following env var to the production heroku app:

[code]

These got the slug size to 427 MB so deploys are working again.

[2020-09-13 21:33] eoinkelly commented on #1135
I don't know of a viable alternative to puppeteer for PDF rendering in the app. We _could_ move puppeteer out to a separate service but that's a goodly chunk of work and would increase the monthly hosting costs a bit so I think we want to avoid doing  that as long as possible.

[2020-09-13 21:33] #1135 closed, assigned to eoinkelly, DSRU, Rabid-Dan

[2020-09-13 21:38] Br3nda commented on #1135
Wicked pdf gem is a plausible option - have some same-licence opensource code that does this already - i'll have a play and see if it's smaller - we need more room to move.

[2020-09-13 21:41] Rabid-Dan commented on #1135
I think JY at Ackama recently did some pdf rendering work with a different gem too and I think he said it went pretty well/was relatively painless so we could always ask him what that was if an alternative is needed.

[2020-09-13 22:10] eoinkelly commented on #1135
@Br3nda I've used wicked_pdf on a few projects. The main challenge was that it was based on very old webkit so rendering any kind of modern CSS didn't work (e.g. flexbox). That said, the PDF rendering needs of this app are pretty simple so if you can tweak to the markup for the print view enough then wicked_pdf could be a good option.

[2020-09-15 21:51] DSRU commented on #1135
the vocab sheet 'save as PDF' function in production at the moment is not working. It downloads a pdf but then says the file is empty when you try to open it. Saving a pdf via the print menu works fine. Is this related to this issue?

[2020-09-17 02:25] eoinkelly opened #1149 "PDF generation failing on production"
Downloading a vocab sheet as a PDF appears to work but the PDF file is 0 bytes. Corresponding logs:

[code]

[2020-09-17 03:59] joshmcarthur commented on #1149
Memory looks OK

![image](https://user-images.githubusercontent.com/292020/93418536-c04ee900-f8fe-11ea-93d5-b5f948d779d5.png)

Working on replicating locally now

[2020-09-17 04:08] joshmcarthur commented on #1149
indoes are OK
Disk space is OK

[2020-09-17 04:08] joshmcarthur commented on #1149
[code]

[2020-09-17 04:33] joshmcarthur commented on #1149
Attempting to clear build cache to ensure dependencies are all installed

[2020-09-17 19:32] eoinkelly commented on #1149
Tried to replicate locally but couldn't. The error is clearly from the node script.

I used `heroku ps:exec` to run the node script on the web dyno, pointing it at a html file left over from a previous conversion attempt.

[code]

[code]

tells me the problem is with the way pupeteer is installed. https://github.com/jontewks/puppeteer-heroku-buildpack recommends purging the build cache to solve su

[2020-09-17 19:55] eoinkelly commented on #1149
I tried

1. Remove the https://github.com/jontewks/puppeteer-heroku-buildpack buildback
1. Purge the cache
1. Deploy again
1. Purge cache again
1. Add https://github.com/jontewks/puppeteer-heroku-buildpack back in
1. Deploy again

but I'm still getting 0 byte PDFs :-(

[2020-09-18 06:37] #1149 closed, assigned to joshmcarthur

[2021-01-06 03:54] Br3nda opened #1252 "Upgrade ruby version"
hey @G-Rath - any reason you've downgraded the ruby version back today?

[2021-01-06 04:01] G-Rath commented on #1252
@Br3nda see #1251 - deployments to staging were failing due to the ~`Gemfile.lock` not being updated~ heroku not running the app on Ruby 3:

[code]

[2021-01-06 04:05] G-Rath commented on #1252
I think it should be enough to update the ruby version in the `Gemfile.lock`, which is still set to v2:

https://github.com/ODNZSL/nzsl-online/blob/8e56e222464ad77874b9c5536875c4a9fd05aac8/Gemfile.lock#L449

[2021-01-06 21:48] Br3nda commented on #1252
there's a button to upgrade the stack -- I was just upgrading when I saw you rolled it back - Shall we proceed again to upgrade it?

[2021-01-06 21:58] Br3nda commented on #1252
missed a word. There's a button in heroku. We're on heroku-18, but need to upgrade to heroku-20 to get ruby 3

[2021-01-06 22:04] G-Rath commented on #1252
That's not the impression I get from their [documentation](https://devcenter.heroku.com/articles/heroku-18-stack#language-runtimes); my understanding is that it comes from what's returned [when you run `bundle platform --ruby`](https://devcenter.heroku.com/articles/ruby-versions#ruby-version-specifiers).

It's possible I'm wrong however, so keen to find out what the actual things you need to do ar

[2021-01-21 13:12] renovate[bot] opened #1261 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:33] #1261 closed, assigned to nobody

[2021-01-27 01:59] point-contents commented on #426
Hi,

Do you have a particular method in mind for this?

These are the two that I am aware of
- rakismet, which requires a subscription to akismet($). [link to rakismet repository](https://github.com/joshfrench/rakismet)
- invisible captcha [link to invisible captcha repository](https://github.com/markets/invisible_captcha)

Or something else?

Kind regards
Ariki

[2021-01-27 02:13] DSRU commented on #426
Kia ora,

the invisible captcha method sounds great for what we need - we get most of our spam from bots.

Many thanks,
Micky (product owner)

[2021-02-01 03:02] point-contents commented on #426
Hi Micky, an update.

I have given this a shot, and it seems to work after a pore over the logs.
Unfortunately however, the "returns an array of all slugs for the page mode" test fails intermittently.

I have tried to read through what the page spec is doing, and the specs code review but tbh, it is far out of my depth.
(This is my first time trying Ruby, and any web technology really)

If anyone

[2021-08-25 04:52] renovate[bot] opened #1397 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency rack-canonical-host to ~> 1.1.0](../pull/1430)
 - [ ] [chore(deps): update node.js to v14.18.2](../pull/1382)

[2021-12-01 03:59] G-Rath commented on #384
We're no longer using CodeClimate for this project

[2021-12-01 03:59] #384 closed, assigned to nobody

[2022-06-15 21:13] cryosis7 commented on #488
Hey all, I see this feature has been iceboxed - main reason being concerns around rate-limiting and ddos protection?
Just wondering if you ever considered setting up an AWS API gateway, that will allow you to rate limit and I also believe you can generate some OpenAPI documentation from it, though I've never played with it myself? The api gateway could just serve as a proxy to your real api.

[2022-06-15 22:02] joshmcarthur commented on #488
@cryosis7 the dictionary is actually just a thin skin over another backend that is used by the DSRU to manage the dictionary content. We're in the process of switching from that service, which is _at least_ 15 years old, to a new(er) editorial tool based on https://github.com/Signbank/FinSL-signbank. That service has _some_ support for getting data out, but it's fairly limited and mostly oriented

[2022-06-15 22:02] #488 closed, assigned to nobody